@mixin square($i){
  width:$i;
  height:$i;
}
@mixin circle(){
  border-radius:50%;
}
@mixin margin_10(){
  margin-left:10px;
  margin-right:10px;
}
@mixin progress(){
  border-radius:5px;
  height:8px;
  margin-left:20px;
  margin-top:21px;
}
@mixin bgimg(){
  background-repeat:no-repeat;
  background-position:center center;
  background-size:contain;
}